.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .question-wrap {
    border: 1px black solid;
    width: 70%;
    height: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .active {
    height: 200px;
  }
  
  .question-and-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .answer {
    position: relative;
    top: 60px;
  }

  .toggle:hover {
    cursor: pointer;
  }